<div class="row mt-5">
  <div class="col-12">
    <table class="table table-striped table-hover">
      <thead class="table-dark">
        <tr>
          <th scope="col" class="thHeader">#</th>
          <th scope="col" class="thHeader">Marca</th>
          <th scope="col" class="thHeader">Línea</th>
          <th scope="col" class="thHeader">Modelo</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let vehicle of vehicles; let idx = index" class="trVehicles">
          <th scope="row" >{{ idx + 1 }}</th>
          <td>{{vehicle.marca}}</td>
          <td>{{vehicle.linea}}</td>
          <td>{{vehicle.modelo}}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

<app-summary-vehicle [data]=vehicles *ngIf="vehicles.length > 0"></app-summary-vehicle>
