<div class="row mt-5">
  <div class="col-12">
    <table class="table table-striped table-hover">
      <thead class="table-dark">
        <tr>
          <th scope="col">#</th>
          <th scope="col">Marca</th>
          <th scope="col">Línea</th>
          <th scope="col">Modelo</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let vehicle of vehicles; let idx = index">
          <th scope="row" >{{ idx + 1 }}</th>
          <td>{{vehicle.marca}}</td>
          <td>{{vehicle.linea}}</td>
          <td>{{vehicle.modelo}}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
<div class="row">
  <div class="col-6">
    <table class="table table-sm">
      <thead>
      <tr>
        <th colspan="3" class="text-center">Consolidado</th>
      </tr>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Marca</th>
        <th scope="col">Cantidad</th>
      </tr>
      </thead>
      <tbody>
        <tr *ngFor="let vehicle of summary; let idx = index">
          <th scope="row" >{{ idx + 1 }}</th>
          <td>{{vehicle[0]}}</td>
          <td>{{vehicle[1]}}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
