#banner{
  width: 100%;
}

.container{
  background-color: white;
}

footer{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 50px;
  background-color: #20379b;
  margin: 0px -12px;
}

footer > span {
  color: white;
}

#title{
  color: #000;
  text-shadow: 0px 4px 4px #6c6c6c;
  font-family: 'jaldi';
  font-weight: bold;
  font-size: 36px;
}
